import(ape)
import(pspline)
importFrom(picante, node.age)
importFrom(deSolve, ode)
importFrom(igraph, graph.adjacency, graph.laplacian)
importFrom(TESS, tess.sim.age)
importFrom(fpc,pamk)
importFrom(cluster,pam)
importFrom(pvclust,pvclust,pvrect)
importFrom(phytools,nodeHeights)
importFrom(corpcor,pseudoinverse)
export(fit_bd, fit_coal_cst, fit_coal_var, fit_env, fit_sgd, BICompare, spectR, JSDtree,JSDtree_cluster)
export(likelihood_bd, likelihood_coal_cst, likelihood_coal_var, likelihood_sgd)
export(plot_dtt, plot_fit_bd, plot_fit_env, plot_spectR, plot_BICompare, sim_sgd)
export(fitCompModel,likelihood_MC,likelihood_MC_geog,likelihood_DD,likelihood_DD_geog,simCompModel,CreateGeoObject)
S3method(print, fit.env)
S3method(print, fit.bd)
